@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 20% 5%;
    --foreground: 0 0% 100%;
    --card: 160 20% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 160 20% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 120 92% 57%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --muted: 160 20% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 120 92% 57%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 160 20% 20%;
    --input: 160 20% 20%;
    --ring: 120 92% 57%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}